<header>
    <div class="container">
        <!-- <a href="#" routerLink="/" class="logo">FoodieFinder </a> -->
        <button type="button" class="btn btn-outline-dark" routerLink="/">FoodieFinder</button>
        <nav>
            <ul>
                <li>
                    
                    <a class="btn btn-primary" href="#" role="button" routerLink="/login">Login</a>
                    <button class="btn btn-primary" type="submit"  routerLink="/cart-page">cart <span class="badge badge-light">0</span></button>
                </li>
            </ul>
        </nav>
    </div>
</header>